<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <queries>
        <!-- 声明需要调用高德地图 -->
        <package android:name="com.autonavi.minimap" />
    </queries>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/travelapp_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TravelApp"
        android:allowNativeHeapPointerTagging="false"
        android:screenOrientation="portrait"
        tools:targetApi="31">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="7c30193ba69d9392272fb683388abc06"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.TravelApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>